@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "barlow-regular";
  src: url(../../public/fonts/Barlow/Barlow-Regular.ttf);
}

@font-face {
  font-family: "barlow-bold";
  src: url(../../public/fonts/Barlow/Barlow-Bold.ttf);
}

@font-face {
  font-family: "barlow-extraBold";
  src: url(../../public/fonts/Barlow/Barlow-ExtraBold.ttf);
}

@font-face {
  font-family: "barlow-light";
  src: url(../../public/fonts/Barlow/Barlow-Light.ttf);
}

@font-face {
  font-family: "fraunces-regular";
  src: url(../../public/fonts/Fraunces/static/Fraunces_144pt-Regular.ttf);
}

@font-face {
  font-family: "fraunces-bold";
  src: url(../../public/fonts/Fraunces/static//Fraunces_144pt-Bold.ttf);
}

@font-face {
  font-family: "fraunces-light";
  src: url(../../public/fonts/Fraunces/static/Fraunces_144pt-Light.ttf);
}

@font-face {
  font-family: "fraunces-soft-bold";
  src: url(../../public/fonts/Fraunces/static/Fraunces_144pt_SuperSoft-Bold.ttf);
}

body {
  font-family: "barlow-regular", sans-serif;
}

.header_img{
  background: url("../../public/images/desktop/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
